
Plugins>Background Remover, "Background Remover", io.github.kildot.backgroundRemover.Points_Detector
Plugins>IFJ Tools, "Slices Correction", io.github.kildot.backgroundRemover.Slices_Correction
Plugins>IFJ Tools, "Slices Multiply", io.github.kildot.backgroundRemover.Slices_Mul
Plugins>IFJ Tools, "Reset colors balance", io.github.kildot.backgroundRemover.Colors_Move
Plugins>IFJ Tools, "Stack to CSV", io.github.kildot.backgroundRemover.Stack_CSV
Plugins>IFJ Tools, "Points Generator", io.github.kildot.backgroundRemover.Points_Generator
Plugins>IFJ Tools, "Help ", io.github.kildot.backgroundRemover.Help_Link
