
Plugins>FNTD IFJ, "Background Remover", io.github.kildot.backgroundRemover.Points_Detector
Plugins>FNTD IFJ, "Slices Correction", io.github.kildot.backgroundRemover.Slices_Correction
Plugins>FNTD IFJ, "Slices Multiply", io.github.kildot.backgroundRemover.Slices_Mul
Plugins>FNTD IFJ, "Reset colors balance", io.github.kildot.backgroundRemover.Colors_Move
Plugins>FNTD IFJ, "Stack to CSV", io.github.kildot.backgroundRemover.Stack_CSV
Plugins>FNTD IFJ, "Points Generator", io.github.kildot.backgroundRemover.Points_Generator
