
Plugins>FNTD IFJ, "Background Subtractor", io.github.kildot.backgroundSubtractor.Points_Detector
Plugins>FNTD IFJ, "Slices Correction", io.github.kildot.backgroundSubtractor.Slices_Correction
Plugins>FNTD IFJ, "Slices Multiply", io.github.kildot.backgroundSubtractor.Slices_Mul
Plugins>FNTD IFJ, "Reset colors balance", io.github.kildot.backgroundSubtractor.Colors_Move
Plugins>FNTD IFJ, "Stack to CSV", io.github.kildot.backgroundSubtractor.Stack_CSV
